# Built in function List method
#append():adds an element at the end of list.
list=[1,2,3,4]
list1=list.append(5)
print(list)

In [24]:
#clear():remove all the elements from the list.
a=[1,2,3,4]
b=a.clear()
print(a)

[]

In [56]:
# Copy(): Return a copy of the list.
a=["hello","world","hi"]
b=a.copy()
print(b)

['hello', 'world', 'hi']

In [30]:
# count(): Returns the number of elements with the specified value
a=[5,6,8,5,6]
b=a.count(5)
print(b)

2

In [34]:
# extend():Add the elements of a list (or any iterable), to the end of the current list
a=[12,4,5,6]
b=[7,8,5,6]
a.extend(b)
print(a)

[12, 4, 5, 6, 7, 8, 5, 6]

In [38]:
# index()	Returns the index of the first element with the specified value
a=["hi","helo",2,5]
b=a.index("helo")
print(b)

1

In [45]:
# insert()	Adds an element at the specified position
List=[1,5,8,6]
List.insert(2,"hi")
print(List)

[1, 5, 'hi', 8, 6]

In [46]:
# pop()	Removes the element at the specified position
list=[2,9,8,7]
list.pop(2)
print(list)

[2, 9, 7]

In [47]:
# remove()	Removes the first item with the specified value
a=["hi",2,5,8]
a.remove(5)
print(a)

['hi', 2, 8]

In [48]:
# reverse()	Reverses the order of the list
b=[2,"hello",5,8,9]
b.reverse()
print(b)

[9, 8, 5, 'hello', 2]

In [51]:
# sort()	Sorts the list
c=[1,5,1,8,2,25,6]
c.sort()
print(c)

[1, 1, 2, 5, 6, 8, 25]

# Dictionary built in method
# clear()	Removes all the elements from the dictionary
Student={"name":"Vishal","Roll":18,"Section":"c"}
Student.clear()
print(Student)

In [54]:
# copy()	Returns a copy of the dictionary
a={1:"vishal",2:"Rohit",3:"Happy"}
b=a.copy()
print(b)

{1: 'vishal', 2: 'Rohit', 3: 'Happy'}

In [55]:
# fromkeys()	Returns a dictionary with the specified keys and value
#dict.fromkeys(keys, value) # value optional
student={1,2,3}
b=dict.fromkeys(student)
print(b)

{1: None, 2: None, 3: None}

In [61]:
# get()	Returns the value of the specified key
# dictionary.get(keyname, value) value optional
student={"name":"Vishal","Roll":18,"Section":"c"}
b=student.get("name")
print(b)

Vishal

In [64]:
# items()	Returns a list containing a tuple for each key value pair
# syntax dictionary.items()  # no parameter
student={"name":"Vishal","Roll":18,"Section":"c"}
x=student.items()
print(x)

dict_items([('name', 'Vishal'), ('Roll', 18), ('Section', 'c')])

In [66]:
# keys()	Returns a list containing the dictionary's keys
#  syntax dictionary.keys() # no parameter
student={"name":"Vishal","Roll":18,"Section":"c"}
b=student.keys()
print(b)

dict_keys(['name', 'Roll', 'Section'])

In [69]:
# pop()	Removes the element with the specified key
# syntax dictionary.pop(keyname, defaultvalue) # default value optional
student={"name":"Vishal","Roll":18,"Section":"c"}
student.pop("Roll")
print(student)

{'name': 'Vishal', 'Section': 'c'}

In [72]:
# popitem()	Removes the last inserted key-value pair
# syntax dictionary.popitem() # no parameter
student={"name":"Vishal","Roll":18,"Section":"c"}
student.popitem()
print(student)

{'name': 'Vishal', 'Roll': 18}

In [78]:
# setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
# syntax dictionary.setdefault(keyname, value) # value optional
# Get the value of the "color" item, if the "color" item does not exist, insert "color" with the value "white":
student={"name":"Vishal","Roll":18,"Section":"c"}
# b=student.setdefault("name","rohit")
c=student.setdefault("subject","math")
print(c)
# print(b)

math

In [81]:
# update()	Updates the dictionary with the specified key-value pairs
student={"name":"Vishal","Roll":18,"Section":"c"}
student.update({"subject":"science"})
print(student)

{'name': 'Vishal', 'Roll': 18, 'Section': 'c', 'subject': 'science'}

In [83]:
# values()	Returns a list of all the values in the dictionary
student={"name":"Vishal","Roll":18,"Section":"c"}
c=student.values()
print(c)

dict_values(['Vishal', 18, 'c'])

# Python Tuple Method
# Tuple has only two built in  method
# count()	Returns the number of times a specified value occurs in a tuple
tuple = (1, 3,3,4, 7, 8, 7, 5, 4, 6, 8, 5)
count=tuple.count(4)
print(count)

In [87]:
# index()	Searches the tuple for a specified value and returns the position of where it was found
tuple=(1,2,8,5,6,47,6,2,4)
b=tuple.index(5)
print(b)

3

### Python Built in Set method

In [89]:
# add()	Adds an element to the set
set={1,2,3}
set.add(4)
print(set)

{1, 2, 3, 4}

In [93]:
# clear()	Removes all the elements from the set
set={2,5,8,9}
set.clear()
print(set)

set()

In [94]:
# copy()	Returns a copy of the set
set={2,5,8,7}
set1=set.copy()
print(set1)

{8, 2, 5, 7}

In [95]:
# difference()	Returns a set containing the difference between two or more sets
# The difference() method returns a set that contains the difference between two sets.
#Meaning: The returned set contains items that exist only in the first set, and not in both sets.

set={"hi","Hello","World"}
set1={"apple","Hello","Cherry"}
x=set.difference(set1)
print(x)

{'World', 'hi'}

In [99]:
# difference_update()	Removes the items in this set that are also included in another, specified set
#The difference_update() method removes the items that exist in both sets.
# The difference_update() method is different from the difference() method, 
#because the difference() method returns a new set, without the unwanted items, 
#and the difference_update() method removes the unwanted items from the original set.
set={1,2,3}
set2={4,5,1}
set.difference_update(set2)
print(set)

{2, 3}

In [100]:
# discard()	Remove the specified item
set={"Hi","Hello","World"}
set.discard("World")
print(set)

{'Hello', 'Hi'}

In [101]:
# intersection()	Returns a set, that is the intersection of two or more sets
#The intersection() method returns a set that contains the similarity between two or more sets.
# Meaning: The returned set contains only items that exist in both sets, 
#or in all sets if the comparison is done with more than two sets.
set={1,2,3}
set1={4,5,1}
c=set.intersection(set1)
print(c)

{1}

In [102]:
# intersection_update()	Removes the items in this set that are not present in other, specified set(s)
#The intersection_update() method removes the items that is not present in both sets 
#The intersection_update() method is different from the intersection() method,
#because the intersection() method returns a new set, without the unwanted items, 
#and the intersection_update() method removes the unwanted items from the original set.
set={1,2,3}
set1={4,5,1}
set.intersection_update(set1)
print(set)

{1}

In [106]:
# isdisjoint()	Returns whether two sets have a intersection or not
# The isdisjoint() method returns True if none of the items are present in both sets, otherwise it returns False.
set={1,2,3}
set1={4,5,6}
z=set.isdisjoint(set1)
print(z)

True

In [107]:
# issubset()	Returns whether another set contains this set or not
#The issubset() method returns True if all items in the set exists in the specified set, otherwise it returns False.
set={"a", "b", "c"}
set1={"f", "e", "d", "c", "b", "a"}
z=set.issubset(set1)
print(z)

True

In [111]:
# issuperset()	Returns whether this set contains another set or not
#The issuperset() method returns True if all items in the specified set exists in the original set, otherwise it returns False.
set={"f", "e", "d", "c", "b", "a"}
set1={"a", "b", "c"}
z=set.issuperset(set1)
print(z)

True

In [112]:
# pop()	Removes an element from the set
# The pop() method removes a random item from the set.
set={2,5,8,7}
set.pop()
print(set)

{2, 5, 7}

In [115]:
# remove()	Removes the specified element
set={5,4,7,8,9}
set.remove(8)
print(set)

{4, 5, 7, 9}

In [116]:
# symmetric_difference()	Returns a set with the symmetric differences of two sets
# The symmetric_difference() method returns a set that contains all items from both set, 
#but not the items that are present in both sets.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z=x.symmetric_difference(y)
print(z)

{'microsoft', 'banana', 'google', 'cherry'}

In [118]:
# symmetric_difference_update()	inserts the symmetric differences from this set and another
# The symmetric_difference_update() method updates the original set by removing items that are present in both sets,
#and inserting the other items.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y)
print(x)

{'microsoft', 'banana', 'google', 'cherry'}

In [119]:
#union()	Return a set containing the union of sets
set={1,2,3}
set1={4,5,1}
z=set.union(set1)
print(z)

{1, 2, 3, 4, 5}

In [120]:
# update()	Update the set with another set, or any other iterable
# The update() method updates the current set, by adding items from another set (or any other iterable).
set={1,2,3}
set1={4,5,1}
set.update(set1)
print(set)

{1, 2, 3, 4, 5}

# #String built in method

In [122]:
# capitalize()	Converts the first character to upper case
s= "welcome to my world"
z=s.capitalize()
print(z)

Welcome to my world

In [128]:
# casefold()	Converts string into lower case
s= "Welcome To my World"
z=s.casefold()
print(z)

welcome to my world

In [130]:
# center()	Returns a centered string
# The center() method will center align the string, using a specified character (space is default) as the fill character.
# syntax string.center(length, character) # character optional
s="apple"
z=s.center(10)
print(z)

  apple

In [131]:
# count()	The count() method returns the number of times a specified value appears in the string.
txt= "I love apples, apple are my favorite fruit"
x = txt.count("apple")
print(x)

2

In [132]:
# endswith() method returns True if the string ends with the specified value, otherwise False.
txt = "Hello, welcome to my world."
x = txt.endswith(".")
print(x)

True

In [ ]:
# The expandtabs() method sets the tab size to the specified number of whitespaces.
txt = "H\te\tl\tl\to"
x =  txt.expandtabs(2)
print(x)

In [133]:
#  find() method finds the first occurrence of the specified value.
#The find() method returns -1 if the value is not found.
The find() method returns -1 if the value is not found.
txt = "Hello, welcome to my world."
x = txt.find("welcome")
print(x)

7

In [134]:
# index()	Searches the string for a specified value and returns the position of where it was found
txt = "Hello, welcome to my world."
x = txt.index("welcome")
print(x)

7

In [136]:
# isalnum()	Returns True if all characters in the string are alphanumeric
txt = "hello12"
x = txt.isalnum()
print(x)

True

In [137]:
# isalpha()	Returns True if all characters in the string are in the alphabet
s="helloXYz"
b=s.isalpha()
print(b)

True

In [ ]:
# isdecimal() method returns True if all the characters are decimals (0-9).
txt = "1234"
x = txt.isdecimal()
print(x)

In [138]:
#isdigit() method returns True if all the characters are digits, otherwise False.
d="5025874"
x=d.isdigit()
print(x)

True

In [ ]:
# istitle() method returns True if all words in a text start with a upper case letter
#AND the rest of the word are lower case letters, otherwise False.
txt = "Hello, And Welcome To My World!"
x = txt.istitle()
print(x)

In [ ]:
# Join all items in a tuple into a string, using a hash character as separator:
myTuple = ("John", "Peter", "Vicky")
x = "#".join(myTuple)
print(x)

In [ ]:
# Return a 20 characters long, left justified version of the word "banana":
txt = "banana"
x = txt.ljust(20)
print(x, "is my favorite fruit.")

In [ ]:
# lstrip() Remove spaces to the left of the string:
txt = "     banana     "
x = txt.lstrip()
print("of all fruits", x, "is my favorite")

In [ ]:
# partition()	Returns a tuple where the string is parted into three parts
txt = "I could eat bananas all day"
x = txt.partition("bananas")
print(x)

In [139]:
#replace() method replaces a specified phrase with another specified phrase.
txt = "I like bananas"
x = txt.replace("bananas", "mango")
print(x)

I like mango

In [143]:
# rfind() method finds the last occurrence of the specified value.
txt = "My world , hi hello."
x = txt.rfind("hello")
print(x)

14

In [152]:
# The split() method splits a string into a list.
#You can specify the separator, default separator is any whitespace.
txt = "welcome to the jungle"
x = txt.split()
print(x)
txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")

['welcome', 'to', 'the', 'jungle']

In [153]:
# title()	Converts the first character of each word to upper case
txt = "Welcome to my world"
x = txt.title()
print(x)

Welcome To My World

In [154]:
# strip() Remove spaces at the beginning and at the end of the string:
txt = "     banana     "
x = txt.strip()
print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [155]:
#splitlines() method splits a string into a list. The splitting is done at line breaks.
txt = "Thank you for the music\nWelcome to the jungle"
x = txt.splitlines()
print(x)

['Thank you for the music', 'Welcome to the jungle']

In [ ]:
# startswith() method returns True if the string starts with the specified value, otherwise False.
txt = "Hello, welcome to my world."
x = txt.startswith("Hello")
print(x)

In [1]:
# swapcase()	Swaps cases, lower case becomes upper case and vice versa
txt = "Hello My Name Is PETER"
x = txt.swapcase()
print(x)

hELLO mY nAME iS peter

In [156]:
# zfill() method adds zeros (0) at the beginning of the string, until it reaches the specified length.
txt = "50"
x = txt.zfill(10)
print(x)

0000000050