In [1]:
sal=[10000,12000,8000,15000,9000]
print(sal)

[10000, 12000, 8000, 15000, 9000]

In [2]:
sal2=[]
for s in sal:
    sal2.append(s+(s*5/100))
print(sal2)

[10500.0, 12600.0, 8400.0, 15750.0, 9450.0]

In [3]:
def changeSal(s):
    return s+(s*5/100)
sal=[10000,12000,8000,15000,9000]

sal2=[]
for s in sal:
    sal2.append(changeSal(s))
print(sal2)

[10500.0, 12600.0, 8400.0, 15750.0, 9450.0]

In [4]:
# map(): (fun,seq/list)

In [5]:
m=map(changeSal,sal)
print(list(m))

[10500.0, 12600.0, 8400.0, 15750.0, 9450.0]

In [6]:
x=['sonu','sachin','hi','virat kohli']
print(len(x))

4

In [7]:
m=list(map(len,x))    # get all character length using map, in map first pass fun and then list,tuple etc.
print(m)

[4, 6, 2, 11]

In [8]:
x=['10','20','30','40']
print(x)

['10', '20', '30', '40']

In [9]:
k=list(map(int,x))     # convert string into int using map
print(k)
print(sum(k))

[10, 20, 30, 40]
100

In [10]:
x=[16,25,30,125,200]
import math
print(math.sqrt(16))

4.0

In [11]:
y=list(map(math.sqrt,x))
print(y)

[4.0, 5.0, 5.477225575051661, 11.180339887498949, 14.142135623730951]

In [12]:
n=['sonu','monu','Chintu','Pintu']
m=list(map(str.lower,n))
print(m)

['sonu', 'monu', 'chintu', 'pintu']

In [13]:
basic=[10,20,30,40,15]      # multiple list with map()
hra=[5,6,7,8,9]


def sal(b,h):
    return b+h

netsal=list(map(sal,basic,hra))
print(netsal)

[15, 26, 37, 48, 24]

In [14]:
# Filter(fun return boolean,seq)

In [15]:
def check(num):       # filter() works only true value
    if(num>=0):
        return True
    else:
        return False
    
x=[10,-5,20,0,-4,-3,5]  

y=list(filter(check,x))
print(y)

[10, 20, 0, 5]

In [16]:
x=[1,2,3,4,5,6,7,8,9,10]

def even(num):
    if(num%2==0):
        return True
    else:
        return False
print(list(filter(even,x)))

[2, 4, 6, 8, 10]

# types of function

- named fun (def keyword
- anonymous fun (lambda keyword

In [17]:
def add(a,b):
    return a+b

In [18]:
print(add(10,20))

30

In [19]:
x=['abc','hi','abcdef']
print(list(map(len,x)))

[3, 2, 6]

In [20]:
def sqr(num):
    return num*num


x=[1,2,3,4,5,6,7]
print(list(map(sqr,x)))

[1, 4, 9, 16, 25, 36, 49]

In [21]:
x=[1,2,3,4,5,6,7,8,9]
print(list(map(lambda num:num*num,x)))
print(list(filter(lambda num:num%2==0,x)))
print(list(filter(lambda num:num%2!=0,x)))

[1, 4, 9, 16, 25, 36, 49, 64, 81]
[2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [22]:
# nested function

In [23]:
def show():           # outer/top lvl fun
    print("apple")
    def disp():       # nested fun/local fun
        print("mango")
    disp()   
    print("orange")  
    disp()

In [24]:
show()

apple
mango
orange
mango

In [25]:
# use case nested fun

In [26]:
def show():
    x=10
    def disp():      
        print("in disp",x)
    disp()   
    print("in show after disp call",x)  
    
    
show()

in disp 10
in show after disp call 10

In [27]:
def show():
    x=10
    def disp():
        x=20
        print("in disp",x)
    disp()   
    print("in show after disp call",x)  
    
    
show()

in disp 20
in show after disp call 10

In [28]:
def show():
    x=10
    def disp():
        x=20
        print("in disp",x)
    disp()   
    print("in show after disp call",x)  
    
    
show()

in disp 20
in show after disp call 10

In [ ]:
# Clousre fun: nested fun that uses data of its outer fun

# Generator

- return sequence use with for loop

In [38]:
def myrange(start,end):
    yield start
    start=start+2
    yield start
    start= start+2
    yield start
    start=start+2
    
    
for i in myrange(10,30):
    print(i)

10
12
14

In [43]:
def myrange(start,end):
    while(start<end):
        yield start
        start=start+4
  
    
    
for i in myrange(10,30):
    print(i)

10
14
18
22
26

In [49]:
def myrange(start,end,step):
    while(start<end):
        yield start
        start=start+step
  
    
    
for i in myrange(10,30,2.5):     # pass int and float
    print(i)

10
12.5
15.0
17.5
20.0
22.5
25.0
27.5

In [50]:
def myrange(start,end,step):
    while(start<end):
        yield start
        start=ord(start)+step
        start=chr(start)
  
    
    
for i in myrange('a','k',1):     # pass int and float
    print(i)

a
b
c
d
e
f
g
h
i
j

In [51]:
ord('A')        # ord() gives ascii value of any char

65

In [52]:
ord('a')

97

In [53]:
chr(100)    # chr() gives  character

'd'

In [54]:
i=ord('a')
i=i+2
print(chr(i))

c